.users-page {
  background-color: var(--color-background);
  padding: 0;
  width: 100%;
}

.users-page__loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  min-height: 320px;
}

.users-page .MuiTypography-root.users-page__no-access {
  margin-top: 32px;
}

.theme-dark .users-page .users-page__empty-text {
  color: rgb(255 255 255 / 70%);
}

.theme-dark .users-page .users-page__label {
  color: #fff;
}

.users-page .MuiTableCell-root {
  position: relative;
}

/* Clickable Table Cells */
.users-page__cell-clickable {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: calc(100% + calc(var(--table-padding-y) * 2));
  margin: calc(var(--table-padding-y) * -1) calc(var(--table-padding-x) * -1);
  padding: var(--table-padding-y) var(--table-padding-x);
  width: calc(100% + calc(var(--table-padding-x) * 2));
}

/* Chips */
.users-page .MuiChip-root.users-page__chip {
  font-size: 0.75rem;
}

/* Stacks in Modals/Details */
.users-page__audit-stack {
  margin-top: 8px;
}

.users-page__dialog-stack {
  margin-top: 8px;
}

@media (width <= 768px) {
  .users-page {
    padding: 0;
  }
}